<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/components/carousel/renderer.js"></script>
    <script src="/js/components/carousel/scripts/actions/carousel.Action.js"></script>
    <script src="/js/components/carousel/scripts/components/carousel.Component.js"></script>
    <script src="/js/components/carousel/scripts/dispatcher/carousel.Dispatcher.js"></script>
    <script src="/js/components/carousel/scripts/stores/carousel.Stores.js"></script>
    <script src="/js/components/demo/renderer.js"></script>
    <script src="/js/components/demo/scripts/actions/demo.Action.js"></script>
    <script src="/js/components/demo/scripts/components/demo.Component.js"></script>
    <script src="/js/components/demo/scripts/dispatcher/demo.Dispatcher.js"></script>
    <script src="/js/components/demo/scripts/stores/demo.Stores.js"></script>
    <script src="/js/components/foo/index.js"></script>
    <script src="/js/components/formAdmin/renderer.js"></script>
    <script src="/js/components/formAdmin/scripts/actions/formAdmin.Action.js"></script>
    <script src="/js/components/formAdmin/scripts/components/formAdmin.Component.js"></script>
    <script src="/js/components/formAdmin/scripts/dispatcher/formAdmin.Dispatcher.js"></script>
    <script src="/js/components/formAdmin/scripts/stores/formAdmin.Stores.js"></script>
    <script src="/js/components/formUser/renderer.js"></script>
    <script src="/js/components/formUser/scripts/actions/formUser.Action.js"></script>
    <script src="/js/components/formUser/scripts/components/formUser.Component.js"></script>
    <script src="/js/components/formUser/scripts/dispatcher/formUser.Dispatcher.js"></script>
    <script src="/js/components/formUser/scripts/stores/formUser.Stores.js"></script>
    <script src="/js/components/sample/renderer.js"></script>
    <script src="/js/components/sample/scripts/actions/sample.Action.js"></script>
    <script src="/js/components/sample/scripts/components/sample.Component.js"></script>
    <script src="/js/components/sample/scripts/dispatcher/sample.Dispatcher.js"></script>
    <script src="/js/components/sample/scripts/stores/sample.Stores.js"></script>
    <script src="/js/components/test/renderer.js"></script>
    <script src="/js/components/test/scripts/actions/test.Action.js"></script>
    <script src="/js/components/test/scripts/components/test.Component.js"></script>
    <script src="/js/components/test/scripts/dispatcher/test.Dispatcher.js"></script>
    <script src="/js/components/test/scripts/stores/test.Stores.js"></script>
    <script src="/js/components/timer/renderer.js"></script>
    <script src="/js/components/timer/scripts/actions/timer.Action.js"></script>
    <script src="/js/components/timer/scripts/components/timer.Component.js"></script>
    <script src="/js/components/timer/scripts/dispatcher/timer.Dispatcher.js"></script>
    <script src="/js/components/timer/scripts/stores/timer.Stores.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>


<!DOCTYPE html>
<html>
<head>
  <title>New Sails App</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/style.css">
  <!--STYLES END-->
</head>

<body>
<demo />

<h2>Footer</h2>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/bundle.js"></script>
<!--SCRIPTS END-->
</body>
</html>

